<body>
<head>
<style>


</style>
  <title >English Vocabular Check</title>
  <h1>Welcome to English Vocabular Check </h1>
  <form>
  <table style="width: 100%; height: 100%">
    <tr>
      <th><button formaction="/upload", style="width: 50%; height: 50%; background-color: Green; color: white;">Upload New Vocabular</button></th>
      <th><button formaction="/refresh", style="width: 50%; height: 50%; background-color: Blue; color: white;">Refresh New Vocabular</button></th>
    </tr>
    <tr>
      <th><button formaction="/quiz", style="width: 50%; height: 50%; background-color: Orange; color: white;">Take Vocabular Check</button></th>
      <th><button formaction="/spell", style="width: 50%; height: 50%; background-color: purple; color: white;">Take Spell Check</button></th>
    </tr>
    <tr>
      <th><button formaction="/misspelled", style="width: 50%; height: 50%; background-color: Teal; color: white;">Take Confused word Check</button></th>
      <th><button formaction="/underconstruction", style="width: 50%; height: 50%; background-color: pink; color: white;">Under Development</button></th>
    </tr>
  </table>
</form>
</head>
</body>
