<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Home</title>
</head>
<body>
	<nav>
	<br>
	<ul> <h2>Welcome  !</h2> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<h3>Click here to <a href="/login">Login</a> into site  </h3>
		<br>
		<h3>Click here to <a href="/register">Create account</a></h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </ul>
    </nav>
</body>
</html>

